<h2 class="blog-post-title"><%= t("sign_in") %></h2>

<%= form_for(:session,  url:  sessions_path)  do  |f| %>
  <div>
    <%= f.label t(:email)  %>
    <%= f.text_field  :email  %>
  </div>

  <div>
    <%= f.label t(:password) %>
    <%= f.password_field  :password %>
  </div>

  <div>
    <%= f.submit  t("sign_in"),  class:  ""  %>
    <%= link_to t('sign_up'),  signup_path %>
  </div>
<%  end %>