<%= form_for(@user) do |f| %>
  <div class="row">
    <div class="col-xs-12">
      <%#= render  'shared/error_messages' %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-2">
      <%= f.label :name %>
    </div>
    <div class="col-xs-12 col-sm-10">
      <%= f.text_field  :name %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-2">
      <%= f.label :email  %>
    </div>
    <div class="col-xs-12 col-sm-10">
      <%= f.text_field  :email  %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-2">
      <%= f.label :diary_name  %>
    </div>
    <div class="col-xs-12 col-sm-10">
      <%= f.text_field  :diary_name  %>   
    </div>
  </div>   

  <div class="row">
    <div class="col-xs-12 col-sm-2">
      <%= f.label :gender  %>
    </div>
    <div class="col-xs-12 col-sm-10">
      <%= f.select :gender_id,  User::GENDER_TYPES %>
    </div>
  </div>    

  <div class="row">
    <div class="col-xs-12 col-sm-2">
      <%= f.label :phone  %>
    </div>
    <div class="col-xs-12 col-sm-10">
      <%= f.text_field  :phone  %>  
    </div> 
  </div> 

  <div class="row">
    <div class="col-xs-12 col-sm-2">
      <%= f.label :skype  %>
    </div>
    <div class="col-xs-12 col-sm-10">
      <%= f.text_field  :skype  %>   
    </div>
  </div> 

  <div class="row">
    <div class="col-xs-12 col-sm-2">
      <%= f.label :info  %>
    </div>
    <div class="col-xs-12 col-sm-10">
      <%= f.text_area  :info, cols: 30, rows: 10 %>   
    </div>
  </div>   

  <div class="row">
    <div class="col-xs-12 col-sm-2">
      <%= f.label :avatar %>
    </div>
    <div class="col-xs-12 col-sm-10">
      <%= f.file_field  :avatar %>
    </div>
  </div>      

  <div class="row">
    <div class="col-xs-12 col-sm-2">
      <%= f.label :password %>
    </div>
    <div class="col-xs-12 col-sm-10">
      <%= f.password_field  :password %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-2">
      <%= f.label :password_confirmation, "Confirmation"  %>
    </div>
    <div class="col-xs-12 col-sm-10">
      <%= f.password_field  :password_confirmation  %>
    </div>
  </div>

  <div class="row actions">
    <div class="col-xs-12 col-sm-2">
      <%= f.submit %>
    </div>
  </div>
<% end %>








