<h2 class="blog-post-title">users</h2>

<div  class="row">
  <table>
    <thead>
      <tr>
        <th>
          <div class="col-xs-6">name</div>
          <div class="col-xs-2">gender</div>
          <div class="col-xs-4"></div>
        </th>    
      </tr>    
    </thead>

    <% @users.each do |user| %>
      <tr>
        <td>
          <div class="col-xs-6">
            <%= link_to user_path(user.id) do %>
              <%= user.name %>
            <% end %>
          </div>
          <div class="col-xs-2"><%= user.gender.gender_name %></div>
          <div class="col-xs-4">
              <% if signed_in? && current_user.admin? %>
                <%= link_to '', user, method: :delete, data: { confirm: 'Are you sure?' }, class: "glyphicon glyphicon-remove pull-right" %>
                <%= link_to '', edit_user_path(user), class: 'glyphicon glyphicon-edit pull-right' %>
              <% end %>
          </div>
        </td>
      </tr>
    <% end %>      
  </table>
</div>

<%= will_paginate %>



