<h2 class="blog-post-title">users</h2>

<div  class="row">
  <table>
    <thead>
      <tr>
        <th>
          <div class="col-xs-6">name</div>
          <div class="col-xs-2">gender</div>
          <div class="col-xs-4">actions</div>
        </th>    
      </tr>    
    </thead>

    <% @users.each do |user| %>
      <tr>
        <td>
          <div class="col-xs-6">
            <%= link_to user_path(user.id) do %>
              <%= user.name %>
            <% end %>
          </div>
          <div class="col-xs-2"><%#= user.gender_name %></div>
          <div class="col-xs-4">
            <%= link_to 'Show', user %>
            <%= link_to 'Edit', edit_user_path(user) %>
            <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </td>
      </tr>
    <% end %>      
  </table>
</div>



