<div class="row">
  <div class="col-xs-10">
    <% if !current_user?(@user) %>
      <%= render 'shared/thumb_icon' %>
    <% end %>

    <% if !current_user?(@user) %><div class="col-xs-10"><% end %>
      <h2 class="blog-post-title blog-post-title-lite"><%= @user.name %></h2>
    <% if !current_user?(@user) %></div><% end %>
  </div>

  <div class="col-xs-2">
    <% if @show_actions %>
      <%= link_to '', @user, method: :delete, data: { confirm: 'Are you sure?' }, class: "glyphicon glyphicon-remove pull-right" %>  
      <%= link_to '', edit_user_path(@user), class: 'glyphicon glyphicon-edit pull-right' %>
    <% end %>
  </div>
</div>

<div class="sheet">
  <div class="row">
    <div class="label_table col-xs-4 col-sm-2"><%= t :gender %>:</div>
    <div class="info_table col-xs-8 col-sm-10">
      <% if @user.gender_id %>
        <%= t(@user.gender.gender_name) %>
      <% end %>
    </div>
  </div>    

  <div class="row">
    <div class="label_table col-xs-4 col-sm-2"><%= t :email %>:</div>
    <div class="info_table col-xs-8 col-sm-10"><a href="mailto:<%= @user.email %>"><%= @user.email %></a></div>
  </div>    

  <div class="row">
    <div class="label_table col-xs-4 col-sm-2"><%= t :phone %>:</div>
    <div class="info_table col-xs-8 col-sm-10"><%= @user.phone %></div>
  </div>    

  <div class="row">
    <div class="label_table col-xs-4 col-sm-2"><%= t :skype %>:</div>
    <div class="info_table col-xs-8 col-sm-10"><%= @user.skype %></div>
  </div>    

  <div class="row">
    <div class="label_table col-xs-4 col-sm-2"><%= t :diary_name %>:</div>
    <div class="info_table col-xs-8 col-sm-10"><%= link_to @user.diary_name, user_posts_path(@user.id) %></div>
  </div>  

  <div class="row">
    <div class="label_table col-xs-12 col-sm-2"><%= t :info %>:</div>
    <div class="info_table col-xs-12 col-sm-10"><%= urls_to_links(urls_to_images(@user.info)) %></div>
  </div> 
</div>





