<div class="row">
  <h2 class="blog-post-title blog-post-title-lite col-xs-10"><%= @user.name %></h2>
  <div class="col-xs-2">
    <%= link_to '', @user, method: :delete, data: { confirm: 'Are you sure?' }, class: "glyphicon glyphicon-remove pull-right" %>  
    <%= link_to '', edit_user_path(@user), class: 'glyphicon glyphicon-edit pull-right' %>
  </div>
</div>

<div class="row">
  <div class="label_table col-xs-2">Gender:</div>
  <div class="info_table col-xs-10"><%= @user.gender.gender_name %></div>
</div>    

<div class="row">
  <div class="label_table col-xs-2">Email:</div>
  <div class="info_table col-xs-10"><a href="mailto:<%= @user.email %>"><%= @user.email %></a></div>
</div>    

<div class="row">
  <div class="label_table col-xs-2">Phone:</div>
  <div class="info_table col-xs-10"><%= @user.phone %></div>
</div>    

<div class="row">
  <div class="label_table col-xs-2">Skype:</div>
  <div class="info_table col-xs-10"><%= @user.skype %></div>
</div>    

<div class="row">
  <div class="label_table col-xs-2">Info:</div>
  <div class="info_table col-xs-10"><%= @user.info %></div>
</div>





