<% if @posts.count != 0 %>
  <div class="row">
    <% @posts.each do |post| %>
      <article class="article blog_teaser">
        <div class="col-xs-10">
          <% if post.user.avatar_file_name %>
            <%= link_to post.user.avatar.url, class: 'fancybox' do %>
              <%= image_tag(post.user.avatar.url(:thumb) , class: "thumb_icon thumb_icon_h2 pull-left", alt: '') %>
            <% end %>
          <% else %>
            <%= image_tag('/images/no-user-image.gif', class: "thumb_icon thumb_icon_h2 pull-left", width: '30', height: '30', alt: '') %>        
          <% end %>

          <h3 class="h3"><%= post.title %></h3>
        </div>

        <div class="col-xs-2">
          <% if signed_in? && current_user.admin? %>
            <%= link_to '', user_post_path(post.user_id, post.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "glyphicon glyphicon-remove pull-right" %>
            <%= link_to '', edit_user_post_path(post.user_id, post.id), class: 'glyphicon glyphicon-edit pull-right' %>
          <% end %>
        </div>

        <div class="meta">
          <div class="col-xs-12 col-sm-6 col-md-12">
            <span class="create_date">Дата создания: <%= l post.created_at, format: "%e %b %Y, %H:%I" %></span>
          </div>

          <div class="col-xs-6 col-sm-6 col-md-6">
            <span class="author">Автор: <%= link_to post.user.name, user_path(post.user_id) %></span>
          </div>

          <div class="col-xs-6 col-sm-6 col-md-6">
            <span class="views">Просмотров: <%= post.views %></span>        
          </div>
        </div>

        <div class="col-xs-12 body">
          <%= link_to truncate(post.body, length: 200), user_post_path(post.user_id, post.id) %>
        </div>
      </article> 
    <% end %>      
  </div>

  <%= will_paginate @posts, :previous_label => '', :next_label => ''  %>
<% else %>
  <p><%= t :no_posts %></p>
<% end %>