<div  class="row">
  <table>
    <thead>
      <tr>
        <th>
          <div class="col-xs-6">post_name</div>
          <div class="col-xs-3">created_date</div>
          <div class="col-xs-3">updated_date</div>
        </th>    
      </tr>    
    </thead>

    <% @posts.each do |post| %>
      <tr>
        <td>
          <%= link_to user_post_url(post.user_id, post.id) do %>
            <div class="col-xs-6"><%= post.title %></div>
            <div class="col-xs-3"><%= l post.created_at, format: "%e %b %Y" %></div>
            <div class="col-xs-3"><%= l post.updated_at, format: "%e %b %Y" %></div>
          <% end %>  
        </td>
      </tr>
    <% end %>      
  </table>
</div>

<%= will_paginate @posts %>