<div class="row">
  <div class="col-xs-6">diary_name</div>
  <div class="col-xs-3">created_date</div>
  <div class="col-xs-3">updated_date</div>
</div>

<% @diaries.each do |diary| %>
  <div class="row">
    <%= link_to user_posts_url(diary.id) do %>
      <div class="col-xs-6"><%= diary.diary_name %></div>
      <div class="col-xs-3"><%= l diary.created_at, format: "%e %b %Y" %></div>
      <div class="col-xs-3"><%= l diary.updated_at, format: "%e %b %Y" %></div>
    <% end %>  
  </div>
<% end %>      

<%= will_paginate @diaries %>