<p id="notice"><%= notice %></p>

<h2>all_diary</h2>

<div  class="row">
  <table>
    <thead>
      <tr>
        <th>
          <div class="col-sm-3">diary_name</div>
          <div class="col-sm-3">owner_name</div>
          <div class="col-sm-3">created_date</div>
          <div class="col-sm-3">updated_date</div>
        </th>    
      </tr>    
    </thead>

    <% @all_diary.each do |diary| %>
      <tr>
        <td>
          <%= link_to user_path(diary.id) do %>
            <div class="col-sm-3"><%= diary.diary_name %></div>
            <div class="col-sm-3"><%= diary.name %></div>
            <div class="col-sm-3"><%= diary.created_at.to_time.strftime('%e %b %Y') %></div>
            <div class="col-sm-3"><%= diary.updated_at.to_time.strftime('%e %b %Y') %></div>
          <% end %>  
        </td>
      </tr>
    <% end %>      
  </table>
</div>
