<h2 class="blog-post-title"><%= t(:search) %></h2>

<div class="row search_by">
  <%= form_tag(pages_search_path, method: 'get') do %>
    <div class="col-xs-12 col-sm-9">
      <%#= label_tag 'fld_phrase', t(:order_by_phrase), class: 'lbl_phrase' %>
      <%= text_field_tag :search, params[:search], class: "fld_phrase" %>
    </div>

    <div class="col-xs-12 col-sm-3">
      <%= submit_tag "Search", :name => nil, class: "btn_submit" %>
    </div>
  <% end %>
</div>

<div class="row search_results">
  <div class="col-xs-12">
    <%= render 'shared/table_posts' if @posts %>
  </div>
</div>
