<div class="col-xs-12 guestbook_form">
  <%= form_for(@guestbook) do |f| %>
    <div class="row">
      <div class="col-xs-12">
        <%  if  @guestbook.errors.any? %>
          <div  id="error_explanation">
            <div  class="alert  alert-danger">Форма содержит <%= pluralize(@guestbook.errors.count, "error")  %>.</div>

            <ul>
              <%  @guestbook.errors.full_messages.each do  |msg| %>
                <li><%= msg %></li>
              <%  end %>
            </ul>
          </div>
        <%  end %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-2">
        <%= f.label :name %>
      </div>
      <div class="col-xs-12 col-sm-10">
        <%= f.text_field :name %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-2">
        <%= f.label :email %>
      </div>
      <div class="col-xs-12 col-sm-10">
        <%= f.text_field :email %>
      </div>
    </div>  

    <div class="row">
      <div class="col-xs-12 col-sm-2">
        <%= f.label :message %>
      </div>
      <div class="col-xs-12 col-sm-10">
        <%= f.text_area :message %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>
