<h2 class="blog-post-title"><%= t(:guestbook) %></h2>

<div class="row">
  <%= render 'form' %>
</div>

<div class="row">
  <% @guestbooks.each do |guestbook| %>
    <article class="article guestbook_post">
      <h3 class="col-xs-12 col-sm-6 h3 name">
        <% if guestbook.user_id %>
          <%= link_to guestbook.user.name, user_path(guestbook.user.id) %>
        <% else %>
          <%= guestbook.name %>
        <% end %>
      </h3>

      <div class="col-xs-12 col-sm-6 email">
        <%= l guestbook.created_at, format: "%e %b %Y, %H:%I" %>

        <% if signed_in? && current_user.admin? %>
          <%= link_to '', guestbook_path(guestbook.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "glyphicon glyphicon-remove pull-right" %>
        <% end %>        
      </div>      

      <div class="col-xs-12 message"><%= guestbook.message %></div>
    </article> 
  <% end %>      
</div>

<%= will_paginate %>




