<%= form_for [current_user, @post] do |f| %>
  <div class="row">
    <div class="col-xs-12">
      <%= render 'shared/error_messages_post' %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-2">
      <%= f.label :title %>
    </div>
    <div class="col-xs-12 col-sm-10">
      <%= f.text_field :title %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-2">
      <%= f.label :body %>
    </div>
    <div class="col-xs-12 col-sm-10">
      <%= f.text_area :body %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <%= f.submit %>
    </div>
  </div>
<% end %>
