<%= form_for [@user, @post] do |f| %>
  <div class="row">
    <div class="col-xs-12">
      <%#= render 'shared/error_messages_post' %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-2">
      <%= f.label t(:title) %>
    </div>
    <div class="col-xs-12 col-sm-10">
      <%= f.text_field :title %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-2">
      <%= f.label t(:body) %>
    </div>
    <div class="col-xs-12 col-sm-10">
      <%= f.text_area :body %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-2">
      <label class="lbl_tagname"><%=t :tags %></label>
    </div>
    <div class="col-xs-12 col-sm-10">
      <%= text_field_tag 'tagnames', nil, class: 'tagnames' %>
      <div class="help_phrase"><%= t :enter_tags_separated_by_commas %></div>
    </div>
  </div>  

  <% if @tags && @tags.count > 0 %>
    <div class="row">
      <div class="col-xs-12 col-sm-2">
        <label class="lbl_tagname"><%= t :delete_tags %>: </label>
      </div>
      <div class="col-xs-12 col-sm-10">
        <div class="row">
          <% @tags.each do |tag|%>
            <div class="col-xs-6 col-sm-4">
              <%= check_box_tag("delete_tags[]", tag.id) %>
              <%= label_tag(:delete_tags, tag.tagname) %>
            </div>
          <% end %>
        </div>
      </div>
    </div>   
  <% end %> 

  <div class="row">
    <div class="col-xs-12">
      <%= f.submit t(:update) %>
    </div>
  </div>
<% end %>
