<div class="row">
  <article class="article blog_post">
    <div class="col-xs-10">
      <% if !current_user?(@user) %>
        <%= render 'shared/thumb_icon' %>
      <% end %>

      <% if @user %><div class="row"><div class="col-xs-10"><% end %>
        <h2 class="blog-post-title h2"><%= t(:post) %> <%= @post.title%></h2>
      <% if @user %></div></div><% end %>
    </div>

    <div class="col-xs-2">
      <% if @show_actions_own_post %>
        <%= link_to '', user_post_path(@user, @post), method: :delete, data: { confirm: 'Are you sure?' }, class: "glyphicon glyphicon-remove pull-right" %>
        <%= link_to '', edit_user_post_path(@user, @post), class: 'glyphicon glyphicon-edit pull-right' %>
      <% end %>
    </div>

    <div class="col-xs-12 meta">
      <div class="row">
        <div class="col-xs-12 col-md-5">
          <span class="create_date">Дата создания: <%= l @post.created_at, format: "%e %b %Y, %H:%I" %></span>
        </div>

        <div class="col-xs-12 col-md-7">
          <span class="author">Автор: <%= link_to @user.name, user_path(@user) %></span>
        </div>

        <div class="col-xs-12 col-md-5">
          <span class="update_date">Дата изменения: <%= l @post.updated_at, format: "%e %b %Y, %H:%I" %></span>      
        </div>

        <div class="col-xs-12 col-md-7">
          <span class="views">Просмотров: <%= @post.views %></span>
        </div>
      </div>
    </div>

    <div class="col-xs-12 body">
      <%= @post.body %>
    </div>
  </article>      
</div>





