<%= form_for @user, url: admin_user_path(@user), method: :patch do |f| %>
  <div class="row">
    <div class="col-xs-12">
      <%#= render  'shared/error_messages' %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-2">
      <%= f.label t :name %>
    </div>
    <div class="col-xs-12 col-sm-10">
      <%= f.text_field  :name %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-2">
      <%= f.label t :email  %>
    </div>
    <div class="col-xs-12 col-sm-10">
      <%= f.text_field  :email  %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-2">
      <%= f.label t :diary_name  %>
    </div>
    <div class="col-xs-12 col-sm-10">
      <%= f.text_field  :diary_name  %>   
    </div>
  </div>   

  <div class="row">
    <div class="col-xs-12 col-sm-2">
      <%= f.label t :gender  %>
    </div>
    <div class="col-xs-12 col-sm-10">
      <%= f.select :gender_id,  User::GENDER_TYPES %>
    </div>
  </div>    

  <div class="row">
    <div class="col-xs-12 col-sm-2">
      <%= f.label t :phone  %>
    </div>
    <div class="col-xs-12 col-sm-10">
      <%= f.text_field  :phone  %>  
    </div> 
  </div> 

  <div class="row">
    <div class="col-xs-12 col-sm-2">
      <%= f.label t :skype  %>
    </div>
    <div class="col-xs-12 col-sm-10">
      <%= f.text_field  :skype  %>   
    </div>
  </div> 

  <div class="row">
    <div class="col-xs-12 col-sm-2">
      <%= f.label t :info  %>
    </div>
    <div class="col-xs-12 col-sm-10">
      <%= f.text_area  :info, cols: 30, rows: 10 %>   
    </div>
  </div>   

  <div class="row">
    <% if @user.avatar_file_name %>
      <div class="col-xs-1 col-sm-offset-2 image_loaded">
        <%= link_to @user.avatar.url, class: 'fancybox' do %>
          <%= image_tag(@user.avatar.url(:thumb) , class: "thumb_icon thumb_icon_h2 pull-left", alt: '') %>
        <% end %>
      </div>
      <div class="col-xs-9 col-sm-9 image_delete">
        <%= check_box_tag(:delete_avatar) %>
        <%= label_tag(:delete_avatar, t('delete_avatar')) %>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-2">
      <%= f.label t :avatar %>
    </div>
    <div class="col-xs-12 col-sm-10">
      <%= f.file_field  :avatar %>
    </div>
  </div>  

  <div class="row hide">
    <div class="col-xs-12 col-sm-2">
      <%= f.label t :created_date  %>
    </div>
    <div class="col-xs-12 col-sm-10">
      <%= select_date @user.created_at, prefix: :created_at %> 
    </div>
  </div>     

  <div class="row">
    <div class="col-xs-12 col-sm-2">
      <%= f.label t :admin_status  %>
    </div>
    <div class="col-xs-12 col-sm-10">
      <%= f.check_box  :admin %>   
    </div>
  </div>       

  <div class="row">
    <div class="col-xs-12 col-sm-2">
      <%= f.label t :password %>
    </div>
    <div class="col-xs-12 col-sm-10">
      <%= f.password_field  :password %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-2">
      <%= f.label :password_confirmation, t('password_confirmation')  %>
    </div>
    <div class="col-xs-12 col-sm-10">
      <%= f.password_field  :password_confirmation  %>
    </div>
  </div>

  <div class="row actions">
    <div class="col-xs-12 col-sm-2">
      <%= f.submit t :save %>
    </div>
  </div>
<% end %>








