<div class="col-xs-6 col-sm-4">
  <span class="label"><%= t :summary_users %></span>
  <span class="value">5</span>
</div>

<div class="col-xs-6 col-sm-4">
  <span class="label"><%= t :summary_posts %></span>
  <span class="value">5</span>
</div>

<div class="col-xs-6 col-sm-4">
  <span class="label"><%= t :summary_recalls %></span>
  <span class="value">5</span>
</div>

<div class="col-xs-6 col-sm-4">
  <span class="label"><%= t :summary_admins %></span>
  <span class="value">5</span>
</div>

<div class="col-xs-6 col-sm-4">
  <span class="label"><%= t :summary_uviews %></span>
  <span class="value">5</span>
</div>    

<div class="col-xs-6 col-sm-4">
  <span class="label"><%= t :summary_signin %></span>
  <span class="value">5</span>
</div>

      