<div class="col-xs-6 col-sm-4">
  <span class="label"><%= t :summary_users %></span>
  <span class="value"><%= get_summary_users %></span>
</div>

<div class="col-xs-6 col-sm-4">
  <span class="label"><%= t :summary_posts %></span>
  <span class="value"><%= get_summary_posts %></span>
</div>

<div class="col-xs-6 col-sm-4">
  <span class="label"><%= t :summary_recalls %></span>
  <span class="value"><%= get_summary_recalls %></span>
</div>

<div class="col-xs-6 col-sm-4">
  <span class="label"><%= t :summary_admins %></span>
  <span class="value"><%= get_summary_admins %></span>
</div>

<div class="col-xs-6 col-sm-4">
  <span class="label"><%= t :summary_views %></span>
  <span class="value"><%= get_summary_views %></span>
</div>    

<div class="col-xs-6 col-sm-4">
  <span class="label"><%= t :summary_tags %></span>
  <span class="value"><%#= get_summary_tags %></span>
</div>  



      