<div class="auth_area col-xs-6">
  <% if signed_in? %>
    <span class="entered_name"><%= t(:logged_on) %> <%= link_to current_user.name, user_path(current_user.id) %></span>
    (<%= link_to t(:sign_out), signout_path, method: "delete"  %>) 
    <%= link_to t(:to_admininterface), admin_users_path, class: 'to_admininterface' if current_user.admin? %>
    <%= link_to t(:to_userinterface), pages_home_path, class: 'to_userinterface' %>
  <% else %>
    <%= link_to t(:sign_in),  signin_path %> <%= link_to t(:sign_up), signup_path %>
  <% end %>
</div>


