<nav class="blog-nav">
  <%= link_to 'Home',  pages_page1_path, class: 'blog-nav-item' %>
  <%= link_to 'all_diary',  pages_page2_path, class: 'blog-nav-item' %>
  <%= link_to 'popular_diary',  pages_page3_path, class: 'blog-nav-item' %>
  <%= link_to 'last_diary',  pages_page4_path, class: 'blog-nav-item' %>
  <%= link_to 'users',  '#', class: 'blog-nav-item' %>
  <%= link_to 'rules',  '#', class: 'blog-nav-item' %>
  <%= link_to 'guestbook',  '#', class: 'blog-nav-item' %>
  <%= link_to 'search',  '#', class: 'blog-nav-item' %>
  <%= link_to 'tags',  '#', class: 'blog-nav-item' %>
  <%= link_to 'confidencial_policits',  '#', class: 'blog-nav-item' %>
</nav>