<h4>main_menu</h4>

<ol class="list-unstyled">
  <li><%= link_to 'home',  pages_home_path %></li>
  <li><%= link_to 'all_diary',  pages_all_diary_path %></li>
  <li><%= link_to 'popular_diary',  pages_popular_diary_path %></li>
  <li><%= link_to 'last_diary',  pages_lasts_diary_path %></li>
  <li><%= link_to 'popular_posts',  pages_popular_posts_path %></li>
  <li><%= link_to 'last_posts',  pages_last_posts_path %></li>
  <li><%= link_to 'users',  users_path %></li>
  <li><%= link_to 'rules',  pages_rules_path %></li>
  <li><%= link_to 'guestbook',  '#' %></li>
  <li><%= link_to 'search',  '#' %></li>
  <li><%= link_to 'tags',  '#' %></li>
  <li><%= link_to 'confidencial_policits',  pages_confidencial_politics_path %></li>
  <% if signed_in? %>
    <li><%= link_to 'profile', user_path(current_user.id) %></li>
  <% end %>
</ol>

