<!DOCTYPE html>

<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Записки сумасшедшего</title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>    
  </head>

  <body class="userpanel">
    <div class="blog-masthead">
      <div class="container">
        <div class="row">
          <%= render 'layouts/auth_area' %>
          <%= render 'layouts/language_area' %>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <%= render 'layouts/header_area' %>
      </div>

      <div class="row">
        <%= render 'layouts/flash_area' %>
      </div>

      <div class="row main_area">
        <div class="col-sm-3 blog-sidebar">
          <% if signed_in? %>
            <div class="sidebar-module sidebar-module-inset">    
            <%= render 'layouts/profile_area' %>
            </div>
          <% end %>

          <div class="sidebar-module sidebar-module-alt">            
            <%= render 'layouts/nav_main' %>
          </div>           
        </div>

        <div class="col-sm-9 blog-main">
          <%= yield %>
        </div>        
      </div>
    </div>

    <footer class="blog-footer">
      <div class="container">
        <div class="row">    
          <%= render 'layouts/footer_area' %>
        </div>
      </div>
    </footer>

    <script>    
      $(document).ready(function() {
        // ------------------------------------- fancybox2
        $("a.fancybox").fancybox();

        // -------------------------------------lang toggler
         var get = window.location.search,
            langContainer = $('.language_area'),
            rusToggler = $('#rus'),
            engToggler = $('#eng');

        langContainer.find('a').removeClass('active');

        if(get.indexOf('locale=ru') != -1){
          rusToggler.addClass('active'); 
        }else if(get.indexOf('locale=en') != -1){
          engToggler.addClass('active'); 
        }
      });
    </script>
  </body>
</html>

